<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.eclipsesoundscapes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature android:name="android.hardware.location.gps" />

    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />

    <application
        android:name=".EclipseSoundscapesApp"
        android:allowBackup="true"
        android:icon="@mipmap/soundscape_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/soundscape_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash">
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.OurPartnersActivity"
            android:exported="false"
            android:label="@string/our_partners"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.about.OurTeamActivity"
            android:exported="false"
            android:label="@string/our_team"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.about.SettingsActivity"
            android:exported="false"
            android:label="@string/permissions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.about.LegalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.walkthrough.WalkthroughActivity"
            android:exported="false"
            android:label="@string/walkthrough_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.about.FutureEclipsesActivity"
            android:exported="false"
            android:label="@string/supported_eclipse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.media.MediaPlayerActivity"
            android:exported="false"
            android:label="@string/media_player"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPlayerTheme" />
        <activity
            android:name=".ui.rumblemap.RumbleMapInteractionActivity"
            android:exported="false"
            android:label="@string/rumble_map_interaction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.rumblemap.RumbleMapInstructionsActivity"
            android:exported="false"
            android:label="@string/rumble_map_instructions_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.about.LanguageSelectionActivity"
            android:exported="false"
            android:label="@string/language"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.features.DescriptionActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".service.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>