<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eclipsesoundscapes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".EclipseSoundscapesApp"
        android:allowBackup="true"
        android:icon="@mipmap/soundscape_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/soundscape_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.about.OurPartnersActivity"
            android:label="Our Partners"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.OurTeamActivity"
            android:label="Our Team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.LegalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walkthrough.WalkthroughActivity"
            android:label="@string/walkthrough_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.about.FutureEclipsesActivity"
            android:label="@string/future_eclipse_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.media.MediaPlayerActivity"
            android:label="Media Player"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.rumblemap.RumbleMapInteractionActivity"
            android:label="Rumble Map Interaction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f21a623561206f3afe3d5346b43183b640dddd71" />

        <activity android:name=".ui.about.AppCompatPreferenceActivity" />

        <service
            android:name=".service.GPSTracker"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".service.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.rumblemap.RumbleMapInstructionsActivity"
            android:label="@string/rumble_map_instructions_title"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>